<html>
	<body>
	<form action = "/ajouter" method = "POST">
		Prénom: <input type = "text" name = "prenom"> <br>
		Nom: <input type = "text" name = "nom"><br>
		Courriel: <input type = "text" name = "courriel"><br>
		Téléphone: <input type = "text" name = "telephone">
		<input type = "submit" value = "Submit">
	</form>
	</body>
</html>