html {
    display: table;
    margin: auto;

    body {
	    display: table-cell;
	    vertical-align: middle;
	  	font-family: "Arial", sans-serif;
		line-height: 1.5;

		table {
			border: 1px solid black;
			border-collapse: collapse;
			width: 700px;
			table-layout: auto;
			margin: 20px;

			th {
				background: blue;
				border: 1px solid black;
			}

			td {
				background: lightblue;
				border: 1px solid black;
			}
		}
	}
}