html {
   
    body {
	  	font-family: "Arial", sans-serif;
		line-height: 1.5;
		margin: auto;

		table {
			border: 1px solid black;
			border-collapse: collapse;
			width: 70%;
			table-layout: fixed;
			word-wrap:break-word;
			margin: 20px;

			th {
				background: blue;
				border: 1px solid black;
			}

			td {
				background: lightblue;
				border: 1px solid black;
			}
		}
	}

	footer {
		font-size:0.8em;
		text-align: center;
		margin-top: 40px;

		ul {
			list-style-type: none;
		}
	}
}